.companies-container {
  > div {
    display: flex;
    align-items: center;
    justify-self: center;
  }
  .companies-posted-container {
    display: flex;
    padding: 0 5px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    @media (max-width: 1300px) {
      margin: 40px 0;
    }
  }

  > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    > div {
      margin: 0 15px;

      flex: 1;
    }

    @media (max-width: 1300px) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .contact-form {
    padding: 30px;
    border-radius: 4px;
    background: rgb(44, 44, 44);
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.449),
      1px 4px 15px rgba(0, 0, 0, 0.153);
    color: white;

    h1 {
      font-size: 42px;
      margin: 0 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 20px;

      .divide {
        border: 1px solid white;
        height: 1px;
        width: 100%;
      }

      .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        .field {
          display: flex;
          flex-direction: column;
          margin: 10px;
        }

        .field.photo-input {
          width: 100%;
        }

        input,
        select,
        textarea {
          margin: 10px 0;
          min-height: 35px;
          min-width: 250px;
          border-radius: 5px;
          background: rgb(240, 240, 240);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.418);
          border: solid #2090dd 2px;
          font-size: 16px;
        }
        input[name="photo"] {
          width: 100%;
        }
        input[name="name"],
        input[name="email"] {
          margin-right: 10px;
        }
        input[name="company"],
        input[name="phone"] {
          margin-left: 10px;
        }

        input,
        select,
        textarea {
          width: 300px;
          background: rgb(44, 44, 44);
          color: white;
          height: 40px;
          margin-bottom: 5px;
          font-size: 24px;
          align-self: flex-start;
          border-radius: 5px;
          outline: none;
          box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.349),
            1px 4px 15px rgba(0, 0, 0, 0.103);
        }

        input {
          text-align: start;
          padding-left: 10px;
        }

        input::placeholder {
          color: rgba(255, 255, 255, 0.801);
        }

        select {
          height: 35px;
        }

        textarea,
        .note {
          min-height: 100px;
          width: 100%;
        }

        .profile-image {
          flex: 1;
          img {
            width: 100%;
          }
        }
      }

      .tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        .tech-use-container {
          align-self: center;
        }
        .tech-use-container > div:first-child {
          display: flex;
        }

        > div {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          > div {
            position: relative;

            .first-input {
              border: #2090dd solid 3px;
            }

            button {
              margin: 0 5px;
            }

            .tech-tag-container {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 10px;
              border: #2090dd 2px solid;
              text-transform: capitalize;
              border-radius: 4px;
              padding: 5px 0 5px 5px;
            }

            .minus {
              background: red;
              padding: 0;
              border-radius: 50%;
              width: 25px;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              min-height: initial;
            }

            label {
              margin: 0 10px;
            }

            input {
              width: 60px;
              height: 20px;
              font-size: 13px;
              margin-left: 5px;
              border: none;
              box-shadow: none;
            }
          }
        }
      }

      .double {
        flex-direction: row;
        display: flex;
        justify-content: flex-start;
      }
      button {
        @extend %base-button;
        background-color: $main;
        color: white;
        align-self: flex-end;
        margin: 10px 0;
        padding: 10px 20px;
        border: solid 2px rgb(0, 140, 255);
      }
    }

    @media (max-width: 800px) {
      form {
        flex-direction: column;
        .row {
          align-items: center;
        }
        .double {
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .field {
            width: 100%;
            margin: 10px 0;

            input[name="name"],
            input[name="email"] {
              margin-right: 0px;
            }
            input[name="company"],
            input[name="phone"] {
              margin-left: 0px;
            }

            input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.contact-container {
  flex: 1;
  min-width: 42%;
  max-width: 47%;
  margin: 0 10px 10px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  border-radius: 4px;
  background: rgb(44, 44, 44);
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.449),
    1px 4px 15px rgba(0, 0, 0, 0.153);
  color: white;
  padding: 15px;

  > div {
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
  }

  .contact-notes {
    text-align: left;
  }

  .contact-photo {
    width: 65px;
    img {
      width: 100%;
    }
  }
}

.companies-posted-container-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px 15px;

  .indentity-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .contact-container {
    margin: 10px;
    min-width: 380px;
    > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    > div > div:last-child {
      flex: 8;
      padding: 0 10px;
      height: 100%;
      align-self: center;
      justify-content: center;
    }

    .contact-notes {
      align-self: flex-start;
      border: solid 2px rgb(53, 170, 206);
      width: 100%;
      padding: 10px;
      div {
        padding: 5px;
        margin: 10px 0;
      }
      details {
        width: 100%;
      }
    }

    .contact-email,
    .indentity-row,
    .contact-phone {
      margin: 5px 0;
    }

    .contact-name {
      font-size: 24px;
    }
  }

  .contact-container:hover {
    background: rgb(66, 66, 66);
  }
}
